{% extends "base.html" %}

{% block title %} About {% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}
<div class="container">
    <h1 class="display-6 my-5 text-center">About Us</h1>
    <div class="fs-5 mx-5 my-3 bg-body-tertiary p-5 rounded-5 object-fit-fill">
        Welcome to Horizon, where curiosity meets creativity. We are more than just a blogging platform—we are a community of thinkers, writers, and explorers who believe in sharing ideas that inspire, inform, and ignite conversations.
        <br><br>
        At Horizon, we provide a space for voices of all kinds—whether you're a seasoned writer, a passionate hobbyist, or someone discovering the power of words for the first time. Our mission is to empower you to express yourself freely, reach readers around the world, and explore perspectives beyond your own.
        <br><br>
        We believe that every story matters. From thought-provoking articles to personal reflections, insightful guides to creative musings, Horizon is designed to connect ideas with readers, sparking engagement and fostering a culture of learning and growth.
        <br><br>
        Join us at Horizon, and let your ideas take flight. Your voice has the power to shape the world—start sharing it today.
    </div>
</div>
{% endblock body %}