{% extends "base.html" %} 
{% block title %} Home {% endblock title %} 
{% block homeactive %} active {% endblock homeactive %} 
{% block body %}
<div class="mx-5 my-3 bg-body-tertiary p-5 rounded-5 object-fit-fill">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Horizon</h1>
    <p class="lead">
      Explore a space where people share stories, ideas, and experiences that
      inspire growth.
    </p>
    <hr class="my-4" />
    <p>
      Connect with diverse voices, exchange perspectives, and discover insights
      from every corner.
    </p>
  </div>
</div>
<div class="container my-3">
  <h1 class="display-6 text-center">Discover Latest Blogs</h1>
</div>
<div class="mx-5 my-3 bg-body-tertiary p-5 rounded-5 object-fit-fill">
    {% for post in posts %}
    <div class="mb-2">
      <div class="card flex-md-row mb-4 box-shadow h-md-100 rounded-5">
        <div class="card-body d-flex flex-column align-items-start mx-4">
          <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
          <h3 class="mb-0">
            <a class="text-dark text-decoration-none" href="/blog/{{post.slug}}">{{post.title|truncatechars:60}}</a>
          </h3>
          <div class="mb-1 text-muted">{{post.timestamp.date}}</div>
          <p class="card-text mb-auto">
            <div class="preview">
              {{post.content|truncatechars:200|safe}}
            </div>
          </p>
          <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary"
            >Continue reading</a
          >
        </div>
      </div>
    </div>
    {% endfor %} 
  </div>
<script>
  let content = document.getElementsByClassName('preview')
  Array.from(content).forEach((element)=>{
    element.innerHTML = element.innerText
  })
</script>
{% endblock body %}
