{% extends "base.html" %}

{% block title %} Search {% endblock title %} 

{% block blogactive %} active {% endblock blogactive %} 

{% block body %}

  {% if allPost|length < 1 %}
    <div class="container">
      <h1 class="display-6 my-5">Your search did not match any documents</h1>
    </div>
    <div class="mx-5 my-3 bg-body-tertiary p-5 rounded-5 object-fit-fill">
      <h4 class="text-center">Sorry! No blogs available for search: '{{query}}' </h4>
      <br>
      <h5>
        Suggestions:
        <ul>
          <li>Make Sure that all keywords are spelled correctly.</li>
          <li>Try different keywords.</li>
          <li>Try more general keywords.</li>
          <li>Try fewer key words.</li>
        </ul>
      </h5>
    </div>
  {% else %}
    <div class="container">
      <h1 class="display-6 my-5">Available Blogs</h1>
    </div>
    <div class="mx-5 my-3 bg-body-tertiary p-5 rounded-5 object-fit-fill">
      {% for post in allPost %}
      <div class="mb-2">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 rounded-5">
          <div class="card-body d-flex flex-column align-items-start mx-4">
            <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="#">{{post.title|truncatechars:60}}</a>
            </h3>
            <div class="mb-1 text-muted">{{post.timestamp.date}}</div>
            <p class="card-text mb-auto">
              <div class="preview">
                {{post.content|truncatechars:200|safe}}
              </div>
            </p>
            <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary"
              >Continue reading</a
            >
          </div>
        </div>
      </div>
      {% endfor %} 
    </div>
  {% endif %}
<script>
  let content = document.getElementsByClassName('preview')
  Array.from(content).forEach((element)=>{
    element.innerHTML = element.innerText
  })
</script>
{% endblock body %}
