<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Horizon</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link {% block homeactive %}{% endblock homeactive %}" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link {% block aboutactive %}{% endblock aboutactive %}" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link {% block blogactive %}{% endblock blogactive %}" href="{% url 'blogHome' %}">Blog</a>
                </li>
                <li class="nav-item">
                <a class="nav-link {% block contactactive %}{% endblock contactactive %}" href="{% url 'contact' %}">Contact</a>
                </li>
                
            </ul>
            <form class="d-flex" role="search" action="{% url 'search' %}" method = 'GET'>
                <input class="form-control me-2 rounded-pill" name="query" id="search" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-outline-success rounded-pill" type="submit">Search</button>
            </form>
            <a href="/admin" role="button" target="_blank" class="btn btn-outline-info ms-2 rounded-pill">Admin</a>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="dropdown">
            <a class="nav-link dropdown-toggle text-white me-2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Welcome, {{ request.user.first_name }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
        {% else %}
        <!-- Button trigger Login Modal -->
        <button type="button" class="btn btn-primary rounded-pill me-2" data-bs-toggle="modal" data-bs-target="#loginModal">
            LogIn
        </button>
        
        <!-- Button trigger Signup Modal -->
        <button type="button" class="btn btn-primary rounded-pill me-2" data-bs-toggle="modal" data-bs-target="#signupModal">
            SignUp
        </button>
        {% endif %}
    </nav>

    {% for message in messages %}
    <div id="message" class="alert alert-{{message.tags}} alert-dismissible fade show mb-0" role="alert">
        <strong>Message: </strong> {{message}}
        <button id="msg-btn-1" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <!-- Sign Up Modal -->
    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="signupModalLabel">Sign Up</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <div class="modal-body">
            <div class="form-group p-2">
                <label for="usernameControlInput1">Username*</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Create a username" required>
            </div>
            <div class="form-group p-2">
                <label for="firstNameControlInput1">First Name*</label>
                <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter your first name" required>
            </div>
            <div class="form-group p-2">
                <label for="lastNameControlInput1">Last Name</label>
                <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter your last name">
            </div>
            <div class="form-group p-2">
                <label for="exampleFormControlInput1">Email address*</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group p-2">
                <label for="passwordControlInput1">Password*</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Create a password" required>
            </div>
            <div class="form-group p-2">
                <label for="confirmPasswordControlInput1">Confirm Password*</label>
                <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Confirm your password" required>
            </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary vw-100">Create Account</button>
            </div>
        </form>
        </div>
    </div>
    </div>

    <!-- Log In Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="loginModalLabel">Log In</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method='POST' action="{% url 'login' %}">
        {% csrf_token %}
            <div class="modal-body">
            <div class="form-group p-2">
                <label for="usernameControlInput1">Username*</label>
                <input type="text" class="form-control" id="login-username" name="login-username" placeholder="Enter your username">
            </div>
            <div class="form-group p-2">
                <label for="passwordControlInput1">Password*</label>
                <input type="password" class="form-control" id="login-password" name="login-password" placeholder="Enter your password">
            </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary vw-100">Log In</button>
            </div>
        </form>
        </div>
    </div>
    </div>

    {% block body %}{% endblock body %}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>